body{

font-family:Arial,sans-serif;

background:#f0f2f5;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

transition:0.5s;
}


.container{

width:450px;

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 0 15px rgba(0,0,0,0.2);

}


.header{

display:flex;

justify-content:space-between;

align-items:center;

}


.input-section{

display:flex;

gap:10px;

margin-bottom:15px;

}


input{

flex:1;

padding:10px;

border-radius:8px;

border:1px solid gray;

}


button{

padding:10px;

border:none;

border-radius:8px;

cursor:pointer;

}


#addBtn{

background:blue;

color:white;

}


li{

display:flex;

justify-content:space-between;

align-items:center;

padding:10px;

margin-top:10px;

background:#eee;

border-radius:8px;

}


.completed{

text-decoration:line-through;

color:gray;

}


.stats{

display:flex;

justify-content:space-around;

margin-top:15px;

}


.dark{

background:#1e1e1e;

color:white;

}

.dark .container{

background:#333;

}

.dark li{

background:#555;

}